<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <title>War Of Bureaucracy</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="head">
                War Of Bureaucracy
            </h1>
        </div>
        <div class="main">
            {% block content %}
            <form action="#" method="post">
                <div class="form-container">
                    <p>School Name</p>
                    <select name="schoolNameDropdown">
                        <option value="Campion">Campion</option>
                        <option value="Cathederal">Cathederal</option>
                        <option value="St_Annes">St.Annes</option>
                        <option value="J_B_Petit">J.B. Petit</option>
                        <option value="Queen_Marys_School">Queen Marys</option>
                        <option value="School6">School6</option>
                        <option value="School7">School7</option>
                        <option value="School8">School8</option>

                    </select>
                </div>
                <div class="form-container">
                    <p>School Password</p>
                    <p><input type="number" name="schoolPassword" /></p>
                </div>
                <div class="form-container">
                    <p>Buy Order or Sell Order</p>
                    <select name="typeOfOrder">
                        <option value="1">Buy Order</option>
                        <option value="2">Sell Order</option>
                    </select>
                </div>
                <div class="form-container">
                    <p>Stock</p>
                    <select name="stock">
                        <option value="Burrmanfabrics">Burrmanfabrics</option>
                        <option value="NPCTech">NPCTech</option>
                        <option value="GENOFoods">GENOFoods</option>
                        <option value="GoliathBanks">GoliathBanks</option>
                        <option value="NatFuels">NatFuels</option>
                        <option value="WrightAirlines">WrightAirlines</option>
                        <option value="aquaFortis">aquaFortis</option>
                        <option value="buildScape">buildScape</option>
                        <option value="healthQuest">healthQuest</option>
                        <option value="ignitedMinds">ignitedMinds</option>
                        <option value="prasiddhiAutos">prasiddhiAutos</option>
                    </select>
                </div>
                <div class="form-container">
                    <p>Number of Stocks</p>
                    <p><input type="number" name="noOfStocks" />

                    </p>
                </div>
                <input type="submit" value="Submit">
            </form>
            {% endblock %}
            <div class="links">
                <a href="{{ url_for('stocks')}}" class="clickable">Look At Stocks</a>    
            </div>
        </div>
    </div>
</body>
</html>