<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>War of Bureaucracy</title>
    <link rel="stylesheet" href="/static/styles/main2.css">
</head>
<body>
    <div class="stockDisplayCont">
        <div class="stockDisplayed gridCols">
            <a href="{{url_for('stock',name='NPCTech')}}" class="clickable">NPCTech</a>
            <a href="{{url_for('stock',name='Burrmanfabrics')}}" class="clickable">Burrmanfabrics</a>
            <a href="{{url_for('stock',name='aquaFortis')}}" class="clickable">aquaFortis</a>
            <a href="{{url_for('stock',name='healthQuest')}}" class="clickable">healthQuest</a>
            <a href="{{url_for('stock',name='prasiddhiAutos')}}" class="clickable">prasiddhiAutos</a>
            <a href="{{url_for('stock',name='ignitedMinds')}}" class="clickable">ignitedMinds</a>
            <a href="{{url_for('stock',name='GENOFoods')}}" class="clickable">GENOFoods</a>
            <a href="{{url_for('stock',name='GoliathBanks')}}" class="clickable">GoliathBanks</a>
            <a href="{{url_for('stock',name='NatFuels')}}" class="clickable">NatFuels</a>
            <a href="{{url_for('stock',name='WrightAirlines')}}" class="clickable">WrightAirlines</a>
            <a href="{{url_for('stock',name='buildScape')}}" class="clickable">buildScape</a>
            <a href="{{url_for('home')}}" class="clickable">Go Back</a>
        </div>
    </div>
</body>
</html>